[submodule "src/multicodec/vendor/multicodec"]
	path = src/multicodec/vendor/multicodec
	url = https://github.com/multiformats/multicodec
[submodule "src/multibase/vendor/multibase"]
	path = src/multibase/vendor/multibase
	url = https://github.com/multiformats/multibase
